<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weng.business.organization.mapper.ImEnterpriseOrganizationMapper">

<!--    <insert id="insetByMap" parameterType="com.weng.business.organization.entity.ImEnterpriseOrganization">
        INSERT INTO
        IM_ENTERPRISE_ORGANIZATION(orgId,orgIds)
        VALUES

    </insert>-->
    <select id="selectList" resultType="com.weng.business.organization.entity.ImEnterpriseOrganization">
        select * from  IM_ENTERPRISE_ORGANIZATION
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from IM_ENTERPRISE_ORGANIZATION
    </select>
</mapper>
